{% extends 'base.html' %}

{% load static %}

{% block title %}home.html{% endblock %}

{% block extra-style %}
    <style type="text/css">
        .title {
            color: #cc8800;
            font-weight: bold;
        }

        .powered {
            position: relative;
            top: 77%;
            color: #cc8800;
            font-style: italic;
        }

    </style>
{% endblock %}

{% block content %}
    <h2 class="title">map</h2>
    <div id="map" style="width:100%;height:400px;"></div>


    <hr style="margin: 20px 0;">

    <div class="row text-center">
        <div class="col-sm-4">
            <h3>Bookmark App</h3>
            <p>원하는 북마크로 빠른 이동 (관리자 기준)</p>
        </div>
        <div class="col-sm-4">
            <h3>Post App</h3>
            <p>필요한 게시물 여러개 올릴 예정</p>
        </div>
        <div class="col-sm-4">
            <h3>Corona map</h3>
            <p>코로나 확진자 판정을 받은 인원의 최근 14일 위치와 선택한 위치별로 확진자들의 치료 여부(백신)를 나타내 드립니다.</p>
        </div>
    </div>
{% endblock %}


{% block extra-script %}
    <script>
        var mapOptions = {
            center: new naver.maps.LatLng(37.3595704, 127.105399),
            zoom: 10
        };

        var map = new naver.maps.Map('map', mapOptions);
    </script>
{% endblock %}

